* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: no-repeat url('./smilebackground.jpg');
    background-size: cover;
    width: 100%;
}
h1 {
    background-color: rgb(224, 255, 255, 0.75);
}
button {
    padding: 0rem 1.5rem;
    border-radius: 10px; 
    font-size: 1.25rem;  
}
button:hover {
    font-weight: bold;
}
button:active {
    opacity: 0.8;
}
.centertext {
    text-align: center;
}
.randomJokeButton {
    margin: 1rem 0;
}
.main-container {
    background-color: rgb(224, 255, 255, 0.75);
    height: 250px;
}
.joke-container {
    display: flex;
    justify-content: center;
}
.displayJoke {
    display: block;
    justify-content: center;
}
.endJokeButton {
    font-size: 1rem;
}
.endJoke, .startJoke {
    display: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
/* https://unsplash.com/photos/uGP_6CAD-14 */
@media only screen and (max-width: 660px) {
    h1 {
        font-size: 1.1rem;
    }
    .endJoke, .startJoke {
        height: 100%;
        font-size: 1rem;
    }
}